# dev dependencies
ipdb
ipython>=7.0.0,<=8.0.0
pudb
pytest-watch
pytest-forked

# Code Quality
flake8
pyproject-flake8
black  # automatic lint
isort  # manager imports

# User DOCs
mkdocs

# typing
mypy
types-setuptools

# Build project
wheel
twine  # isntall into testpypi / pypi

# Install project as editable
# -e .


# Build project
wheel
twine  # isntall into testpypi / pypi
